<div class="gallery-component" [ngClass]="'items-per-page-' + itemsPerPage">

  <div class="gallery-controls">
    <mat-form-field>
      <mat-label>Images To Show</mat-label>
      <mat-select [(ngModel)]="itemsPerPage" (selectionChange)="resetImages($event.value)">
        <mat-option *ngFor="let num of numOfPages" [value]="num">{{num}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="search">
      <mat-label>Search</mat-label>
      <input matInput placeholder="search image" (ngModelChange)="searchImage($event)" [(ngModel)]="searchValue">
    </mat-form-field>

    <mat-form-field *ngIf="sort">
      <mat-label>Sort</mat-label>
      <mat-select [(ngModel)]="sortType" (selectionChange)="sortFeed($event.value)">
        <mat-option *ngFor="let option of sortOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="images-and-arrows-container">
    <div class="left-arrow cursor-pointer hover-opacity" (click)="nextImages(-1)">
      <i class="fa fa-chevron-left" style="font-size:24px"></i>
    </div>
    <div class="right-arrow cursor-pointer hover-opacity" (click)="nextImages(1)">
      <i class="fa fa-chevron-right" style="font-size:24px"></i>
    </div>

    <div class="images-container scrollbar-style" [ngClass]="sortType || searchValue ? 'has-top-text': ''">
      <div class="image-wrapper" *ngFor="let image of images;">
        <div *ngIf="sortType === sortMap.byTitle || searchValue" class="title" [title]="image.title">Title: {{image.title}}</div>
        <div *ngIf="sortType === sortMap.byDate" class="date" [title]="image.date">Date: {{image.date}}</div>
        <img class="delete-icon cursor-pointer hover-opacity" src="/assets/delete-icon.png" (click)="deleteImage(image)"/>
        <img class="feed-image" [src]="image.url" (click)="openImage(image)" onerror="this.src='/assets/image-not-found.png';"/>
      </div>
    </div>
  </div>
</div>
